<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.bundler"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.example.bundler.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name="com.example.bundler.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bundler.NextActivity"
            android:theme="@style/Theme.Next"/>

        <activity
            android:name="com.example.bundler.ExampleActivity"
            android:exported="true"/>
        <activity
            android:name="com.example.bundler.Example1Activity"/>
        <activity
            android:name="com.example.bundler.Example2Activity"/>
    </application>
</manifest>