<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hendraanggrian.bundler.demo">

    <application
        android:name=".App"
        android:label="Bundler Demo"
        android:theme="@style/Theme.App"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NextActivity"
            android:theme="@style/Theme.Next" />

        <activity
            android:name=".ExampleActivity"
            android:exported="true" />

        <activity android:name=".Example1Activity" />

        <activity android:name=".Example2Activity" />
    </application>
</manifest>